<template>
  <div :class="$style.container">
    <label>
      <input
        type="radio"
        name="type"
        :value="TreeNodeType.Directory"
        :checked="isTypeDirectoryChecked"
        @change="onChangeFileType"
      />
      <span>Directory</span>
    </label>
    <label>
      <input
        type="radio"
        name="type"
        :value="TreeNodeType.File"
        :checked="!isTypeDirectoryChecked"
        @change="onChangeFileType"
      />
      <span>File</span>
    </label>

    <label>
      <input type="text" name="name" @input="onInputFileName" />
    </label>
  </div>
</template>

<script setup lang="ts">
import type { HTMLElementEvent } from "@/types/types";
import { TreeNodeType } from "@/stores/fileTree/types";
import { computed } from "vue";

interface Props {
  type: TreeNodeType;
}

const props = defineProps<Props>();

const emit = defineEmits(["changeType", "changeName"]);

const isTypeDirectoryChecked = computed(() => {
  return props.type === TreeNodeType.Directory;
});

const onChangeFileType = (e: HTMLElementEvent<HTMLInputElement>) => {
  emit("changeType", e.target.value);
};
const onInputFileName = (e: HTMLElementEvent<HTMLInputElement>) => {
  emit("changeName", e.target.value);
};
</script>

<style module>
.container {
  display: flex;
  align-items: center;
  gap: 5px;
}
</style>
