<template>
  <li class="node-tree">
    <ul v-if="isPropsArray">
      <tree-node v-for="child in props.node" :node="child" :key="child.id" />
    </ul>

    <div v-if="!isPropsArray">
      <div :class="$style.labelContainer">
        <h4 class="label" v-if="!editNodeNameMode">{{ props.node.name }}</h4>
        <input
          type="text"
          :class="$style.input"
          @keydown.enter="saveNameHandler"
          v-else
          v-model="nodeRenameValue"
        />
        <div
          :class="$style.buttonContainer"
          v-if="!editNodeNameMode && !addNodeMode"
        >
          <button
            :class="$style.button"
            type="button"
            @click="clickAddHandler"
            v-if="isItDirectory"
          >
            Add
          </button>
          <button
            :class="$style.button"
            type="button"
            @click="clickRenameHandler"
          >
            Rename
          </button>
          <button
            :class="$style.button"
            type="button"
            @click="clickDeleteHandler"
          >
            Delete
          </button>
        </div>

        <div :class="$style.buttonContainer" v-if="editNodeNameMode">
          <button :class="$style.button" type="button" @click="saveNameHandler">
            Save
          </button>
          <button
            :class="$style.button"
            type="button"
            @click="cancelChangeNameHandler"
          >
            Cancel
          </button>
        </div>

        <div :class="$style.buttonContainer" v-if="addNodeMode">
          <button :class="$style.button" type="button" @click="saveNewNode">
            Save
          </button>
          <button :class="$style.button" type="button" @click="cancelNewNode">
            Cancel
          </button>
        </div>
      </div>

      <create-new-node
        v-if="addNodeMode"
        :type="newNodeTypeValue"
        @change-type="writeNewNodeType"
        @change-name="writeNewNodeName"
      />

      <ul>
        <tree-node
          v-for="child in props.node.children"
          :node="child"
          :key="child.id"
        />
      </ul>
    </div>
  </li>
</template>

<script setup lang="ts">
import type { TreeState } from "@/stores/fileTree/types";
import { TreeNodeType } from "@/stores/fileTree/types";
import { computed, ref } from "vue";
import { useFileTreeStore } from "@/stores/fileTree/fileTree";
import CreateNewNode from "@/components/createNewNode.vue";
import type { Nullable } from "@/types/types";

interface Props {
  node: TreeState & TreeState[];
}

const props = defineProps<Props>();

const { deleteNode, renameNode, addNode } = useFileTreeStore();

const editNodeNameMode = ref(false);
const nodeRenameValue = ref(props.node.name);
const addNodeMode = ref(false);
const newNodeNameValue = ref("");
const newNodeTypeValue = ref<Nullable<TreeNodeType>>(TreeNodeType.Directory);

const isPropsArray = computed(() => Array.isArray(props.node));
const isItDirectory = computed(
  () => props.node.type === TreeNodeType.Directory
);

const clickAddHandler = () => {
  addNodeMode.value = true;
};

const writeNewNodeType = (type: TreeNodeType) => {
  newNodeTypeValue.value = type;
};

const writeNewNodeName = (name: string) => {
  newNodeNameValue.value = name;
};

const saveNewNode = () => {
  const defaultName =
    newNodeTypeValue.value === TreeNodeType.Directory ? "New Dir" : "New File";
  if (!newNodeNameValue.value) {
    addNode(props.node.id, defaultName, newNodeTypeValue.value);
  } else {
    addNode(props.node.id, newNodeNameValue.value, newNodeTypeValue.value);
  }
  addNodeMode.value = false;
};

const clickRenameHandler = async () => {
  editNodeNameMode.value = true;
};

const saveNameHandler = () => {
  const defaultName =
    props.node.type === TreeNodeType.Directory ? "New Dir" : "New File";
  if (!nodeRenameValue.value) {
    renameNode(props.node.id, defaultName);
  } else {
    renameNode(props.node.id, nodeRenameValue.value);
  }
  editNodeNameMode.value = !editNodeNameMode.value;
  nodeRenameValue.value = props.node.name;
};

const cancelChangeNameHandler = () => {
  editNodeNameMode.value = false;
  nodeRenameValue.value = props.node.name;
};

const cancelNewNode = () => {
  addNodeMode.value = false;
  newNodeNameValue.value = "";
};

const clickDeleteHandler = () => {
  deleteNode(props.node.id);
};
</script>

<style module>
.labelContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
}

.buttonContainer {
  display: flex;
  gap: 5px;
}

.button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.input {
  width: auto;
  border: 1px solid #ccc;
  outline: none;
}

ul {
  list-style: none;
  padding-left: 25px;
}
</style>
