<template>
  <div class="tree">
    <ul class="tree-list">
      <tree-node :node="fileTree" />
    </ul>
  </div>
</template>

<script setup lang="ts">
import { useFileTreeStore } from "@/stores/fileTree/fileTree";
import { computed } from "vue";
import TreeNode from "@/components/treeNode.vue";

const fileTreeStore = useFileTreeStore();
const fileTree = computed(() => fileTreeStore.getFileTree);
</script>

<style></style>
